.top_page {

display:flex;
background-color:#1F2937;



}

#main_hero {

     font-size: 48px;
     font-weight:bolder;
     color: #F9FAF8;



}

.secondary_hero,
.header_links  {

       font-size: 18px;
        color: #E5E7EB;

}


 a {
 
   text-decoration: none;
   color:#E5E7EB;


}
        

