body{


    margin: 0;
    
}



.top_page {

display:flex;
background-color:#1F2937;
flex-direction: column;
gap: 60px; 



}

.main_hero {

     font-size: 48px;
     font-weight:bolder;
     color: #F9FAF8;
    



}

.secondary_hero,
.header_links  {

       font-size: 18px;
        color: #E5E7EB;
        


}


.header_links {

display: flex;
gap:60px;


}


 a {
 
   text-decoration: none;
   color:#E5E7EB;


}

.logo {

    font-size: 24px;
     color: #F9FAF8;
     font-family: cursive;

}


        

.bodies {

    
    display: flex;
    padding: 30px 20px;
    gap: 40px; 
    justify-content:space-between;
    margin-left: 5em;
    margin-right: 10em;
   

}

.header {

    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-left: 5em; 
    margin-right: 10em;
    padding: 20px;
    
   
   
    
}

.hero button {

    background-color: #3882F6;
    color:white;
    font-size: 20px;
    border: 20px;
    padding: 15px;
    margin-top: 15px;
    border-radius: 20px;
    
    
}


.second_page {

    display:flex;
    flex-direction: column;
    margin-top: 3em;
    padding:20px;
   
}

.second_image {

    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    align-items: center;
    
    
    
}

.second_image img {

    border: 5px solid #3882F6;
    border-radius: 10px;
}



.header_information{

    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-left: auto;
    margin-right: auto;
}

.rice {

    margin-top: 30px;
}

.quote {

    display: flex;
    justify-content: center;
    align-items: center;
     background-color: #E5E7EB;
     padding: 300px;
     font-size: 36px;
     font-style: italic;
     color: #1F2937;
     padding-top: 100px;
     padding-bottom: 150px;
     
     


}

.signature {

    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin-top: 20px;
}



.main_contact {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
   



}
.contact {

display: flex;
background-color: #3882F6;
justify-content: space-around;
align-items: center;
padding: 60px;
width: 80%;
border-radius: 10px;





}

.question {

    font-weight: bold;
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.click {

    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;



}

button {


    
    border-style: solid;
    border-color: white;
    font-size: 18px;
    background-color: #3882F6;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    
    
}

.footer {



    display: flex;
    padding: 40px;
    background-color: #1F2937;
    justify-content: center;
}

.foot {

    color: white;
    font-size: 20px;
}